.appearLeft-enter-active{
  animation: appearLeft 1s;
}
.appearLeft-leave-active{
  animation: appearLeft 1s reverse;
}
.appearRight-enter-active{
    animation: appearRight 1s;
}
.appearRight-leave-active{
  animation: appearRight 1s reverse;
}
.appearBottom-enter-active{
    animation: appearBottom 1s ease-out;
}
.grow-enter-active{
    animation: grow .5s ease-out;
}
.fade-enter-active{
  animation: fade .5s ease-out;
}
.fade-leave-active{
  animation: fade .5s ease-out reverse;
}
.fade-move{
  transition:  .5s;
}

@keyframes appearLeft {
  0%{transform: translateX(-100%); opacity: 0;}
  100%{transform: translateX(0px); opacity: 1;}
}
@keyframes appearRight {
  0%{transform: translateX(100%); opacity: 0;}
  100%{transform: translateX(0px); opacity: 1;}
}
@keyframes appearBottom {
  0%{transform: translateY(100%);}
  100%{transform: translateY(0px);}  
}
@keyframes grow {
  0%{transform: scale(0);}
  95%{transform: scale(1.05);}
  100%{transform: scale(1);}  
}
@keyframes fade {
  0%{opacity: 0;}
  100%{opacity: 1;}
}