@font-face {
  font-family: "Lora";
  src: local("Lora"),
  url('@/assets/fonts/Lora-VariableFont_wght.ttf');
}
@font-face {
  font-family: "MADEMirage";
  src: local("MADEMirage"),
  url('@/assets/fonts/MADE Mirage Regular.otf');
}
@font-face {
  font-family: "Keukenhof";
  src: local("Keukenhof"),
  url('@/assets/fonts/Keukenhof.ttf');
}
*, *:before, *:after {
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Lora', serif;
  background-color: $color1;
}
html{
  background: $color1;
  scroll-behavior: smooth;
}
