
/* @font-face {
  font-family: "Roboto Slab";
  src: local("Roboto Slab"),
  url('@/assets/fonts/RobotoSlab.ttf');
}
@font-face {
  font-family: "Indie Flower";
  src: local("Indie Flower"),
  url('@/assets/fonts/IndieFlower.ttf');
} */

*, *:before, *:after {
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto Slab', serif;
}
html{
  scroll-behavior: smooth;
}
